<?xml version="1.0"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ftpUser" value="usrsif87"/>
    <add key="ftpPassword" value="In0josa12"/>
    <add key="ftpRoot" value="ftp://finansu.sifacob.com/public_html/finansu/Template/"/>
    <add key="ftpServer" value="ftp://finansu.sifacob.com/"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnect"
		connectionString="Data Source=ffinansu3.ckynuortt73n.us-east-2.rds.amazonaws.com;Initial Catalog=finansu;Persist Security Info=True;User ID=usr_fnns;Password=admin2021"
		providerName="System.Data.SqlClient" />
    <!--<add name="dbConnect"
         connectionString="Data Source=184.168.194.75;Initial Catalog=ffinansu;User ID=usr_fnns;Password=@dm1n_fnnsu87"
         providerName="System.Data.SqlClient" />-->
    <!--add name="dbConnect"
		connectionString="Data Source=ffinansu3.ckynuortt73n.us-east-2.rds.amazonaws.com;Initial Catalog=finansu;Persist Security Info=True;User ID=usr_fnns;Password=admin2021"
		providerName="System.Data.SqlClient" /-->
	  <!--<add name="dbConnect"
         connectionString="Data Source=EQUIPOJORGE01\SQLEXPRESS;Initial Catalog=usrsif87_ffinansu3_12;Persist Security Info=True;User ID=usr_fnns;Password=@dm1n_fnnsu87"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>

    <system.web>
      <trust level="Full" originUrl="" />
      <customErrors mode="On" defaultRedirect="~/Error/"></customErrors>
      <compilation debug="true" targetFramework="4.0"></compilation>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
